footer {
    background-color: var(--color-2);
}

#db9_footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#db9_copyright {
    color: var(--neutral-color-1);
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #db9_footer_items {
        flex-direction: column;
        gap: 20px;
    }
}