header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-1);
    z-index: 3;
}

#db9_navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#db9_nav_logo {
    font-size: 22px;
    color: var(--color-6);
}

#db9_nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.db9_nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.db9_nav-item.active a {
    color: var(--neutral-color-1);
    border-bottom: 3px solid var(--color-4);
}

#db9_mobile_btn {
    display: none;
}

#db9_btn_inside a {
    text-decoration: none;
    color: inherit;
}

#db9_first_btn a {
    text-decoration: none;
    color: inherit;
}

#db9_mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    #db9_nav_list,
    #db9_navbar .db9_btn-default {
        display: none;
    }

    #db9_mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #db9_mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #db9_mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #db9_mobile_nav_list .db9_nav-item {
        list-style: none;
        text-align: center;
    }
}