#db9_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#db9_dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.db9_dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: var(--neutral-color-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.db9_dish-description {
    color: #434343;
    text-align: center;
}

.db9_dish-rate i {
    color: var(--color-6);
}

.db9_dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.db9_btn-buy {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1170px) {
    #db9_dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .db9_dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .db9_dish {
        width: 100%;
    }

    #db9_menu .db9_section-subtitle {
        text-align: center;
    }
}